{% extends 'base-main.html.twig' %}

{% block main %}
    <div class="bg-white">
        <div class="container mx-auto">
            <div class="text-center py-12">
                <h2 class="text-4xl font-medium">
                    Peluquería canina
                </h2>
                <div style="padding: 0 10em">
                    <p class="pt-3 text-gray-600 text-lg">
                        Utilizamos productos naturales y de calidad, pensados específicamente para proteger y cuidar el pelo y la piel.<br>
                    </p>
                    <p class=" text-gray-600 text-lg">
                        Contamos además con un servicio de SPA canino donde realizamos tratamientos de ozonoterapia, especialmente indicados para tratar afecciones de la piel y el pelo, y para mejorar el brillo y la salud capilar.
                    </p>
                </div>
            </div>

            <div class="flex items-center justify-center gap-12 py-8">
                <div class="w-96">
                    <img src="https://www.consumer.es/app/uploads/2019/07/img_stripping-perros.jpg" alt="" class="mx-auto rounded-full w-36 h-36 cover object-cover">
                    <div class="text-center">
                        <h2 class="mt-6 text-2xl font-medium">
                            Stripping
                        </h2>
                        <p class="py-2 text-gray-600">
                            Nemo enim ipsam voluptatem quia voluptas sit aut odit aut fugit,sed quia consequuntur magni dolores.
                        </p>
                    </div>
                </div>
                <div class="w-96">
                    <img src="http://www.hoyvalencia.app/wp-content/uploads/2022/10/Animal-Spirit-Spa-Canino-1024x554.jpg" alt="" class="mx-auto rounded-full w-36 h-36 cover object-cover">
                    <div class="text-center">
                        <h2 class="mt-6 text-2xl font-medium">
                            Spa
                        </h2>
                        <p class="py-2 text-gray-600">
                            Nemo enim ipsam voluptatem quia voluptas sit aut odit aut fugit,sed quia consequuntur magni dolores.
                        </p>
                    </div>
                </div>
                <div class="w-96">
                    <img src="https://www.cimformacion.com/blog/wp-content/uploads/2015/06/tijeras.-peluqueria-canina-min-1.jpg" alt="" class="mx-auto rounded-full w-36 h-36 cover object-cover">
                    <div class="text-center">
                        <h2 class="mt-6 text-2xl font-medium">
                            Corte a tijera
                        </h2>
                        <p class="py-2 text-gray-600">
                            Nemo enim ipsam voluptatem quia voluptas sit aut odit aut fugit,sed quia consequuntur magni dolores.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mx-auto">
        <div class="text-center py-12">
            <h2 class="text-4xl font-medium">
                Nuestros servicios
            </h2>
            <p class="py-2 text-gray-600">
                Nemo enim ipsam voluptatem quia voluptas sit aut odit aut fugit,<br> sed quia consequuntur magni dolores.
            </p>
        </div>
    </div>

    <div class="bg-white">
        <div class="container mx-auto">

            <h4>Cumples de la semana:</h4>
            <ul class="mt-3 flex justify-center gap-16">
                <li class="w-36">
                    <img src="https://www.fundacion-affinity.org/sites/default/files/los-10-sonidos-principales-del-perro.jpg" alt="" class="rounded-full w-36 h-36 object-cover border shadow-md">
                    <div class="text-center">
                        <h5 class="font-bold text-lg">Doggy</h5>
                        <span>2 años</span>
                    </div>
                </li>
                <li class="w-36">
                    <img src="https://www.residenciadonperro.com/images/requisitos-perro.jpg" alt="" class="rounded-full w-36 h-36 object-cover border shadow-md">
                    <div class="text-center">
                        <h5 class="font-bold text-lg">Ratón</h5>
                        <span>3 años</span>
                    </div>
                </li>
            </ul>

        </div>
    </div>
{% endblock %}