<div class="container mx-auto text-sm lg:text-base px-4">
    <div class="text-center py-8 lg:py-12">
        <h2 class="text-2xl lg:text-4xl font-medium">
            Nuestros servicios
        </h2>
        <p class="py-4 text-neutral-500 text-base lg:text-lg">
            Utilizamos productos naturales y de calidad, pensados específicamente para proteger y cuidar el pelo y la piel.
            Contamos además con un servicio de SPA canino donde realizamos tratamientos de ozonoterapia, especialmente indicados para tratar afecciones de la piel y el pelo, y para mejorar el brillo y la salud capilar.
        </p>
        <div class="mt-8 grid grid-cols-1 md:grid-cols-3 gap-6 lg:gap-0 px-12">
            <div class="flex flex-col space-y-6 ">
                <div class="flex flex-col items-center md:items-end">
                    <h3 class="text-lg lg:text-2xl font-medium underline decoration-2 decoration-fuchsia-900/50 underline-offset-8">Corte de raza</h3>
                    <p class="mt-3 text-center md:text-right text-neutral-500">Nos adaptamos al corte que marca el standard</p>
                </div>
                <div class="flex flex-col items-center md:items-end">
                    <h3 class="text-lg lg:text-2xl font-medium underline decoration-2 decoration-fuchsia-900/50 underline-offset-8">Corte a tijera</h3>
                    <p class="mt-3 text-center md:text-right text-neutral-500">Acabados más naturales y precisos</p>
                </div>
                <div class="flex flex-col items-center md:items-end">
                    <h3 class="text-lg lg:text-2xl font-medium underline decoration-2 decoration-fuchsia-900/50 underline-offset-8">Corte mixto</h3>
                    <p class="mt-3 text-center md:text-right text-neutral-500">Corte mixto utilizando máquina y tijera</p>
                </div>
                <div class="flex flex-col items-center md:items-end">
                    <h3 class="text-lg lg:text-2xl font-medium underline decoration-2 decoration-fuchsia-900/50 underline-offset-8">Corte comercial</h3>
                    <p class="mt-3 text-center md:text-right text-neutral-500">Descripción del corte comercial</p>
                </div>
            </div>
            <img src="{{ asset('img/logo.png') }}" alt="logo" class="w-60 lg:w-72 m-auto hidden md:block">
            <div class="flex flex-col space-y-6">
                <div class="flex flex-col items-center md:items-start">
                    <h3 class="text-lg lg:text-2xl font-medium underline decoration-2 decoration-fuchsia-900/50 underline-offset-8">Stripping</h3>
                    <p class="mt-3 text-center md:text-left text-neutral-500">Para perros de pelo duro, eliminación de capas de pelo de forma manual con la ayuda de cuchillas preparadas</p>
                </div>
                <div class="flex flex-col items-center md:items-start">
                    <h3 class="text-lg lg:text-2xl font-medium underline decoration-2 decoration-fuchsia-900/50 underline-offset-8">Baños</h3>
                    <p class="mt-3 text-center md:text-left text-neutral-500">Descripción de baños</p>
                </div>
                <div class="flex flex-col items-center md:items-start">
                    <h3 class="text-lg lg:text-2xl font-medium underline decoration-2 decoration-fuchsia-900/50 underline-offset-8">Spa & ozonoterapia</h3>
                    <p class="mt-3 text-center md:text-left text-neutral-500">Descripción spa & ozonoterapia</p>
                </div>
                <div class="flex flex-col items-center md:items-start">
                    <h3 class="text-lg lg:text-2xl font-medium underline decoration-2 decoration-fuchsia-900/50 underline-offset-8">Planes de mantenimiento</h3>
                    <p class="mt-3 text-center md:text-left text-neutral-500">Descripción de planes de mantenimiento</p>
                </div>
            </div>
        </div>

        <div class="mt-8">
            <a href="https://api.whatsapp.com/send?phone=624273038" target="_blank" class="px-4 py-2 text-base lg:text-lg text-uppercase mx-auto bg-fuchsia-900/50 text-white hover:bg-fuchsia-900/70">Solicita información / Reserva cita</a>
        </div>
    </div>
</div>