<div class="container mx-auto">
    <div class="text-center py-12">
        <h2 class="text-4xl font-medium">
            Nuestros servicios
        </h2>
        <p class="py-4 text-neutral-500 text-lg">
            Utilizamos productos naturales y de calidad, pensados específicamente para proteger y cuidar el pelo y la piel.
            Contamos además con un servicio de SPA canino donde realizamos tratamientos de ozonoterapia, especialmente indicados para tratar afecciones de la piel y el pelo, y para mejorar el brillo y la salud capilar.
        </p>
        <div class="mt-8 grid grid-cols-3">
            <div class="flex flex-col space-y-6 ">
                <div class="flex flex-col items-end">
                    <h3 class="text-2xl font-medium underline decoration-2 decoration-violet-300 underline-offset-8">Corte de raza</h3>
                    <p class="mt-3 text-neutral-500">Descripción del corte de raza</p>
                </div>
                <div class="flex flex-col items-end">
                    <h3 class="text-2xl font-medium underline decoration-2 decoration-violet-300 underline-offset-8">Corte a tijera</h3>
                    <p class="mt-3 text-neutral-500">Descripción del corte a tijera</p>
                </div>
                <div class="flex flex-col items-end">
                    <h3 class="text-2xl font-medium underline decoration-2 decoration-violet-300 underline-offset-8">Corte mixto</h3>
                    <p class="mt-3 text-neutral-500">Descripción del corte mixto</p>
                </div>
                <div class="flex flex-col items-end">
                    <h3 class="text-2xl font-medium underline decoration-2 decoration-violet-300 underline-offset-8">Corte comercial</h3>
                    <p class="mt-3 text-neutral-500">Descripción del corte comercial</p>
                </div>
            </div>
            <img src="{{ asset('img/logo.png') }}" alt="logo" class="w-72 m-auto">
            <div class="flex flex-col space-y-6">
                <div class="flex flex-col items-start">
                    <h3 class="text-2xl font-medium underline decoration-2 decoration-violet-300 underline-offset-8">Stripping</h3>
                    <p class="mt-3 text-neutral-500">Descripción de stripping</p>
                </div>
                <div class="flex flex-col items-start">
                    <h3 class="text-2xl font-medium underline decoration-2 decoration-violet-300 underline-offset-8">Baños</h3>
                    <p class="mt-3 text-neutral-500">Descripción de baños</p>
                </div>
                <div class="flex flex-col items-start">
                    <h3 class="text-2xl font-medium underline decoration-2 decoration-violet-300 underline-offset-8">Spa & ozonoterapia</h3>
                    <p class="mt-3 text-neutral-500">Descripción spa & ozonoterapia</p>
                </div>
                <div class="flex flex-col items-start">
                    <h3 class="text-2xl font-medium underline decoration-2 decoration-violet-300 underline-offset-8">Planes de mantenimiento</h3>
                    <p class="mt-3 text-neutral-500">Descripción de planes de mantenimiento</p>
                </div>
            </div>
        </div>

        <button class="mt-8 border px-4 py-2 text-lg text-uppercase mx-auto bg-violet-400 border rounded text-white hover:bg-violet-500">Solicita información</button>
    </div>
</div>