<header id="header" class="mb-6 md:mb-10 md:flex md:items-start">
    <div class="flex-auto max-w-4xl">
        <p class="mb-2 md:mb-4 text-xs md:text-sm font-semibold text-blue-500">Mantenimiento</p>
        <h1 class="text-3xl md:text-4xl font-extrabold text-slate-900 tracking-tight">Mascotas</h1>
        <p class="mt-2 md:mt-4 text-base md:text-lg text-slate-700">Mantenimiento de fichas de mascotas.</p>
    </div>
</header>