<!-- Modal header -->
<div class="flex items-start justify-between border-b rounded-t bg-slate-50 p-3">
    <div class="flex items-center space-x-3">
        <p class="text-[11px] md:text-xs font-semibold border-r text-slate-500 rounded px-4 py-1.5 uppercase">Mascota</p>
        <h3 class="md:text-lg font-semibold text-gray-900 dark:text-white">Editar mascota</h3>
    </div>
</div>

<!-- Modal body -->
{% include 'admin/pet/_form.html.twig' with {'button_label': 'Actualizar mascota', 'button_id': 'update-button'}  %}