{% extends 'base-main.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block main %}
{#    {% include "main/main/carousel.html.twig" %}#}
    <div class="bg-white">
        <section>{% include "main/ads/opening-promotion.html.twig" %}</section>
    </div>
    <div class="bg-neutral-50">
        <section>{% include "main/home/services.html.twig" %}</section>
    </div>
{#    <section>{% include "main/home/own-team.html.twig" %}</section>#}

{% endblock %}