{% extends 'base-main.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block main %}
{#    {% include "main/main/carousel.html.twig" %}#}
    <section>{% include "main/ads/opening.html.twig" %}</section>
    <section>{% include "main/home/services.html.twig" %}</section>
{#    <section>{% include "main/home/own-team.html.twig" %}</section>#}

{% endblock %}