{% extends 'base_main.html.twig' %}

{% block main %}
{#    <section class="bg-white">{% include "main/ads/_opening_promotion.html.twig" %}</section>#}
    <section class="bg-neutral-50">{% include "main/home/_services.html.twig" %}</section>
    <section class="bg-white">{% include "main/home/_last_works.html.twig" %}</section>
    <section class="bg-neutral-50">{% include "main/home/_our_facilities.html.twig" %}</section>
    <section class="bg-white">{% include "main/home/_about_me.html.twig" %}</section>
    <section class="bg-neutral-50">{% include "main/home/_reviews.html.twig" %}</section>
{% endblock %}