<header>
    <div class="bg-neutral-800">
        <div class="container mx-auto py-3 flex items-center justify-between text-white text-sm gap-6">
            <div class="flex items-center">
                <i class="fa-solid fa-phone text-lg"></i>
                <span class="ml-2 font-light">615 395 842</span>
            </div>
            <div class="flex items-center">
                <i class="fa-regular fa-envelope text-lg"></i>
                <span class="ml-2 font-light">estilismocaninomartavela@gmail.com</span>
            </div>
            <div class="flex-1 flex items-center justify-end gap-6">
                <i class="fa-brands fa-whatsapp text-lg"></i>
                <i class="fa-brands fa-instagram text-lg"></i>
                <i class="fa-brands fa-facebook text-lg"></i>
                <i class="fa-brands fa-tiktok text-lg"></i>
            </div>
        </div>
    </div>

    <div class="bg-teal-50 border-b border-neutral-100">
        <div class="container mx-auto">
            <nav class="flex items-center justify-between py-4">
                <a href="{{ path('home') }}" class="flex items-center" class="">
                    <img src="{{ asset('img/logo.svg') }}" alt="logo" class="w-16 h-16 rounded-full p-0.5 bg-teal-100/75 hover:scale-125">
                    <div class="flex flex-col pl-3">
                        <p class="font-bold text-lg">Estilismo canino</p>
                        <p class="text-sm">Marta Vela</p>
                    </div>
                </a>
                <ul class="flex font-medium text-sm uppercase gap-8 select-none">
                    <li>{{ component('headerLink', {path: 'home', message: 'Inicio'}) }}</li>
                    <li>citas</li>
                    <li>instalaciones</li>
                    <li>trabajos</li>
                    <li>blog</li>
                    <li>{{ component('headerLink', {path: 'contact', message: 'Contact'}) }}</li>
                </ul>
            </nav>
        </div>
    </div>
</header>