<div class="bg-neutral-800/90 py-3 text-xs lg:text-sm">
    <div class="mx-auto max-w-[85rem] px-4">
        <p class="text-white text-center">
            ¡Promoción de apertura! 20% de descuento en tu primera cita, hasta el 28 de febrero
        </p>
    </div>
</div>