<div class="px-8 -mx-8 flex items-center justify-between space-x-2 xl:space-x-4">
    <div class="flex-initial">
        <button type="button" title="Nueva cita"
                data-modal-target="ajax-static-modal" data-modal-toggle="ajax-static-modal" data-modal-backdrop="static" data-modal-keyboard="false"
                data-url="{{ path('admin_booking_create') }}"
                class="create_button | px-3 xl:px-4 py-2 xl:py-2.5 rounded text-xs xl:text-sm bg-blue-500 text-white shadow-md hover:bg-blue-600 hover:shadow-lg focus:bg-blue-600 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-700 active:shadow-lg transition duration-150 ease-in-out">
            <i class="fa-solid fa-plus mr-1.5"></i><span>Cita</span>
        </button>
    </div>
    <div class="flex-initial">
        <a href="{{ path('admin_booking', {'view': view, 'day': 'now'|date('Y-m-d')}) }}"
           class="border border-gray-300 px-3 xl:px-4 py-2 xl:py-2.5 rounded text-xs xl:text-sm hover:bg-slate-50 focus:bg-slate-50 focus:outline-none"
        >
            Hoy
        </a>
        <div class="ml-8 inline-flex rounded shadow-sm text-xs lg:text-sm">
            <a href="{{ path('admin_booking', {'view': 'day', 'day': day|date('Y-m-d')}) }}"
               class="px-4 py-2 border rounded-l focus:outline-none flex items-center space-x-2 {% if view == 'day' %}bg-blue-500 text-white border-blue-500 pointer-events-none{% else %}bg-white border-gray-300 hover:bg-slate-50 focus:bg-slate-50{% endif %}">
                <i class="fa-solid fa-calendar-day"></i><span>Día</span>
            </a>
            <a href="{{ path('admin_booking', {'view': 'week', 'day': day|date('Y-m-d')}) }}"
               class="px-4 py-2 border rounded-r focus:outline-none flex items-center space-x-2 {% if view == 'week' %}bg-blue-500 text-white border-blue-500 pointer-events-none{% else %}bg-white border-gray-300 hover:bg-slate-50 focus:bg-slate-50{% endif %}">
                <i class="fa-solid fa-calendar-week"></i><span>Semana</span>
            </a>
        </div>
    </div>
</div>