{% extends 'base_admin.html.twig' %}

{% block title %}Agenda | {% endblock %}

{% block main %}
    {{ component('crudHeaderComponent', {section: 'Agenda', title: 'Citas'}) }}

{#    {% include 'admin/booking/header.html.twig' %}#}

    <div class="flex flex-col lg:flex-row lg:items-start lg:justify-between lg:space-x-6">
        <section>
            {% include 'admin/booking/schedule/calendar.html.twig' %}
            {% include 'admin/booking/schedule/bookings.html.twig' %}
        </section>

        <section class="-mx-4 sm:-mx-6 md:-mx-8 lg:mx-0 pb-6 flex-1 overflow-x-auto">
            {% include 'admin/booking/slots/slots.html.twig' %}
        </section>
    </div>

    {% include 'modal/admin/ajax-modal.html.twig' %}
    {% include 'modal/admin/ajax-static-modal.html.twig' %}
{% endblock %}

{% block js %}
    <script src="{{ asset('build/app/js/admin/booking/crud.js') }}"></script>
    <script src="{{ asset('build/app/js/admin/ajax-modal.js') }}"></script>
{% endblock %}