<div class="max-w-[85rem] mx-auto text-sm lg:text-base px-4">
    <div class="text-center py-8 lg:py-12">
        <h2 class="text-3xl lg:text-4xl font-bold">
            Sobre m铆
        </h2>
        <div class="mx-auto mt-4 flex justify-center">
            <span class="inline-block h-1 w-40 rounded-full bg-fuchsia-900/70"></span>
            <span class="mx-1 inline-block h-1 w-3 rounded-full bg-fuchsia-900/70"></span>
            <span class="inline-block h-1 w-1 rounded-full bg-fuchsia-900/70"></span>
        </div>

        <div class="flex flex-col items-center my-6 p-4 sm:p-6">
            <img class="rounded-full bg-red-500 w-60 h-60 md:w-72 md:h-72 lg:w-96 lg:h-96 object-cover shadow-lg border p-1.5 bg-white" src="{{ asset('build/app/img/marta_profile.jpg') }}" alt="Marta Vela" />
            <div class="py-4">
                <h1 class="text-2xl font-semibold capitalize text-gray-700">Marta Vela</h1>
                <p class="mt-2 capitalize text-gray-500">Dog groomer</p>
            </div>

            <div class="py-4 text-neutral-500 text-base lg:text-lg">
                <p>Apasionada por los animales, especialmente por los perros, y me encanta mi trabajo!</p>
                <p class="mt-1.5">Mi servicio de <strong>peluquer铆a</strong> canina es <strong>personalizada</strong> y enfocada en el bienestar animal. Mi enfoque es asegurarme de que cada perro reciba la atenci贸n individualizada que necesita y merece.</p>
                <p class="mt-1.5">Me preocupa el <strong>bienestar</strong> de cada animal con el que trabajo, no solo su aspecto f铆sico.</p>
                <p class="mt-1.5">Dedico el tiempo que sea necesario a cada servicio, para asegurarme de que el perro se sienta c贸modo y tranquilo durante el proceso. Tengo una amplia formaci贸n y experiencia, lo que me permite brindar un servicio de alta calidad.</p>
                <p class="mt-1.5">Para m铆, no hay nada m谩s gratificante que ver a un <strong>perro feliz y sano</strong> despu茅s de una sesi贸n.</p>
                <p class="mt-1.5">Si conf铆as en m铆 para la pr贸xima sesi贸n de peluquer铆a de tu perro, puedes estar segur@ de que recibir谩 el mejor trato posible.</p>
                <p class="pt-3 font-medium text-lg lg:text-xl">隆Estoy deseando conocer a tu mascota!</p>
                <p class="text-lg lg:text-xl">攫垛锔</p>
            </p>
        </div>
    </div>
</div>