<div class="max-w-[85rem] mx-auto text-sm lg:text-base px-4">
    <div class="text-center py-8 lg:py-12">
        <h2 class="text-3xl lg:text-4xl font-bold">
            Últimos trabajos
        </h2>
        <div class="mx-auto mt-4 flex justify-center">
            <span class="inline-block h-1 w-40 rounded-full bg-fuchsia-900/70"></span>
            <span class="mx-1 inline-block h-1 w-3 rounded-full bg-fuchsia-900/70"></span>
            <span class="inline-block h-1 w-1 rounded-full bg-fuchsia-900/70"></span>
        </div>

        <p class="py-4 text-neutral-500 text-base lg:text-lg">
            Los últimos perretes que han pasado por nuestro salón.
        </p>

        <div class="py-4 grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-1.5">
            {% set instagram_publication_videos = view.instagramPublicationVideos %}
            {% for instagram_publication_video in instagram_publication_videos %}
                <div class="relative group">
                    <video autoplay muted controls loop class="h-auto max-w-full relative">
                        <source src="{{ instagram_publication_video.mediaUrl }}" type="video/mp4">
                    </video>
                    <div class="hidden absolute top-0 left-0 right-0 group-hover:block">
                        <div class="m-2.5 flex flex-col items-center bg-yellow-200 py-1.5 px-3 font-medium text-xs md:text-sm lg:text-base opacity-80 rounded">
                            <p>{{ instagram_publication_video.timestamp|date('d/m/Y') }}</p>
                            <p class="flex items-center justify-center space-x-1.5">
                                <i class="fa-brands fa-instagram text-black text-base md:text-lg lg:text-xl"></i>
                                <a href="{{ instagram_publication_video.permalink }}" target="_blank" class="hover:underline focus:underline focus:outline-none">
                                    Ver en instagram
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
