<div class="max-w-[85rem] mx-auto text-sm lg:text-base px-4">
    <div class="text-center py-8 lg:py-12">
        <h2 class="text-3xl lg:text-4xl font-bold">
            Sobre mí
        </h2>
        <div class="mx-auto mt-4 flex justify-center">
            <span class="inline-block h-1 w-40 rounded-full bg-fuchsia-900/70"></span>
            <span class="mx-1 inline-block h-1 w-3 rounded-full bg-fuchsia-900/70"></span>
            <span class="inline-block h-1 w-1 rounded-full bg-fuchsia-900/70"></span>
        </div>

        <div class="flex flex-col items-center my-6 p-4 sm:p-6">
            <img class="rounded-full bg-red-500 w-60 h-60 md:w-72 md:h-72 lg:w-96 lg:h-96 object-cover shadow-lg border p-1.5 bg-white" src="{{ asset('build/app/img/marta_profile.jpg') }}" alt="Marta Vela" />
            <h1 class="mt-4 text-2xl font-semibold capitalize text-gray-700">Marta Vela</h1>
            <p class="mt-2 capitalize text-gray-500">Dog groomer</p>
        </div>
    </div>
</div>