<div class="max-w-[85rem] mx-auto text-sm lg:text-base px-4">
    <div class="text-center py-8 lg:py-12">
        <h2 class="text-3xl lg:text-4xl font-bold">
            Sobre mí
        </h2>
        <div class="mx-auto mt-4 flex justify-center">
            <span class="inline-block h-1 w-40 rounded-full bg-fuchsia-900/70"></span>
            <span class="mx-1 inline-block h-1 w-3 rounded-full bg-fuchsia-900/70"></span>
            <span class="inline-block h-1 w-1 rounded-full bg-fuchsia-900/70"></span>
        </div>

        <div class="flex flex-col items-center my-6 p-4 sm:p-6">
            <img class="rounded-full bg-red-500 w-60 h-60 md:w-72 md:h-72 lg:w-96 lg:h-96 object-cover shadow-lg border p-1.5 bg-white" src="{{ asset('build/app/img/marta_profile.jpg') }}" alt="Marta Vela" />
            <h1 class="mt-4 text-2xl font-semibold capitalize text-gray-700">Marta Vela</h1>
            <p class="mt-2 capitalize text-gray-500">Dog groomer</p>
            <p class="py-4 text-neutral-500 text-base lg:text-lg">
                Hola, soy Marta, apasionada por los animales, especialmente por los perros. Me dedico a proporcionar servicios de peluquería canina personalizados y enfocados en el bienestar animal. Mi enfoque es asegurarme de que cada perro reciba la atención individualizada que necesita y merece.
                <br>
                Me preocupa el bienestar de cada animal con el que trabajo, no solo su aspecto físico. Dedico el tiempo que sea necesario a cada servicio, para asegurarme de que el perro se sienta cómodo y tranquilo durante el proceso. Tengo una amplia formación y experiencia, lo que me permite brindar un servicio de alta calidad.
                <br>
                Para mí, no hay nada más gratificante que ver a un perro feliz y sano después de una sesión. Si confías en mí para la próxima sesión de peluquería de tu perro, puedes estar segur@ de que recibirá el mejor trato posible. ¡Estoy deseando conocer a tu perro!"
            </p>
        </div>
    </div>
</div>