<div id="modal-home-services-spa-ozone" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
    <div class="relative w-full h-full max-w-4xl md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-medium text-gray-900 dark:text-white">
                    Spa & Ozonoterapia
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="modal-home-services-spa-ozone">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-6">
                <h4 class="font-medium text-base lg:text-lg mb-3 text-left underline decoration-2 decoration-fuchsia-900/50 underline-offset-8">Spa</h4>
                <p class="text-left">Los tratamientos de spa ayudan a fortalecer el sistema inmune de los perros. A medida que envejecen, una de las enfermedades más comunes es la artritis. Hay opciones terapéuticas que tienen propiedades antiinflamatorias y analgésicas que pueden aliviar los síntomas.</p>
                <h4 class="pt-4 font-medium text-base lg:text-lg mb-3 text-left underline decoration-2 decoration-fuchsia-900/50 underline-offset-8">Ozonoterapia</h4>
                <p class="text-left">La ozonoterapia consiste en un proceso en que el agua ozonizada es usada para baños terapeúticos o como complemento de tratamientos médicos, ayudando en el proceso de desinfección, cicatrización y alivio de síntomas relacionados a procesos inflamatorios.</p>
                <p class="text-left">El baño con ozono provoca una limpieza total de las células muertas y desinfecta profundamente la piel estimulando el riesgo sanguíneo.</p>
                <p class="text-left">El ozono tiene una acción antioxidante y cicatrizante, destruye patógenos tales como virus, bacterias y hongos pudiendo reducir la lesiones de la piel y disminuyendo sus brotes.</p>
                <p class="pt-2.5 text-left">¡Y lo mejor!, en nuestro salón, ¡todos los baños se realizan con agua ozonizada!.</p>
            </div>
        </div>
    </div>
</div>