{% extends 'base-admin.html.twig' %}

{% block title %}BackOffice | New Dog{% endblock %}

{% block main %}
    <div class="">
        <div class="overflow-hidden">
            <div class="text-lg font-semibold">Informe semanal - caja</div>
            <canvas class="py-10" id="chartLine"></canvas>
        </div>

        <!-- Required chart.js -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <!-- Chart line -->
        <script>
            const labels = ["Lunes", "Martes", "Miércoles", "Jueves", "Viernes"];
            const data = {
                labels: labels,
                datasets: [
                    {
                        label: "Previsión",
                        backgroundColor: "hsl(142, 82.9%, 67.8%)",
                        borderColor: "hsl(142, 82.9%, 67.8%)",
                        data: [100, 100, 100, 100, 100],
                    },
                    {
                        label: "Actual",
                        backgroundColor: "hsl(252, 82.9%, 67.8%)",
                        borderColor: "hsl(252, 82.9%, 67.8%)",
                        data: [120, 88, 130, 50, 90],
                    },
                    {
                        label: "Semana anterior",
                        backgroundColor: "hsl(182, 82.9%, 67.8%)",
                        borderColor: "hsl(182, 82.9%, 67.8%)",
                        data: [100, 98, 120, 85, 75],
                    }
                ],
            };

            const configLineChart = {
                type: "line",
                data,
                options: {},
            };

            var chartLine = new Chart(
                document.getElementById("chartLine"),
                configLineChart
            );
        </script>
    </div>



    <div class="overflow-hidden">
        <div class="bg-gray-50">Bar chart</div>
        <canvas class="py-10" id="chartBar"></canvas>
    </div>

    <!-- Required chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Chart bar -->
    <script>
        const labelsBarChart = [
            "January",
            "February",
            "March",
            "April",
            "May",
            "June",
        ];
        const dataBarChart = {
            labels: labelsBarChart,
            datasets: [
                {
                    label: "My First dataset",
                    backgroundColor: "hsl(252, 82.9%, 67.8%)",
                    borderColor: "hsl(252, 82.9%, 67.8%)",
                    data: [0, 10, 5, 2, 20, 30, 45],
                },
            ],
        };

        const configBarChart = {
            type: "bar",
            data: dataBarChart,
            options: {},
        };

        var chartBar = new Chart(
            document.getElementById("chartBar"),
            configBarChart
        );
    </script>
{% endblock %}