{% extends 'base-main.html.twig' %}

{% block title %}Citas{% endblock %}

{% block main %}
    <div class="container mx-auto px-4 text-sm md:text-base">
        <div class="py-8">
            <p class="text-xl lg:text-2xl">Próximamente...</p>
            <p class="mt-3">Iremos actualizando el contenido en las próximas fechas</p>
            <p class="mt-3 pt-3 border-t">Dedicamos el tiempo necesario para cada peludo. Cada raza, piel, tipo de pelo o estado anterior requiere una dedicación personalizada, por lo que necesitamos calcular el tiempo a emplear según estos factores</p>
        </div>
    </div>
{% endblock %}
