{% extends 'base-main.html.twig' %}

{% block title %}Trabajos{% endblock %}

{% block main %}
    <div class="container mx-auto px-4 text-sm md:text-base">
        <div class="py-8">
            <p class="text-xl lg:text-2xl">Próximamente...</p>
            <p class="mt-3">Iremos actualizando el contenido en las próximas fechas</p>
        </div>
    </div>
{% endblock %}
