{% extends 'base-main.html.twig' %}

{% block title %}Trabajos{% endblock %}

{% block main %}
    <div class="container mx-auto px-4 text-sm md:text-base">
        <div class="py-8">
            <h2 class="text-2xl lg:text-3xl font-medium">
                Próximamente...
            </h2>
        </div>
    </div>
{% endblock %}
