{% extends 'base-main.html.twig' %}

{% block title %}Política de cookies{% endblock %}

{% block main %}
    <div class="max-w-[85rem] mx-auto px-4 text-sm lg:text-base">
        <div class="pt-8 pb-16 text-neutral-600">
            <h1 class="font-medium text-xl ld:text-2xl pb-4">POLITICA DE COOKIES</h1>

            <p class="pt-4">
                Las cookies son pequeñas cantidades de información que se almacenan en el navegador utilizado por cada usuario para que el servidor recuerde cierta información que posteriormente pueda utilizar.
            </p>

            <h3 class="mt-8 font-medium text-base lg:text-lg">
                TIPOS DE COOKIES QUE UTILIZAMOS
            </h3>
            <p class="pt-4">
                Esta página web utiliza cookies de terceros que son aquellas que se envían a tu ordenador o terminal desde un dominio o una página web que no es gestionada por nosotros, sino por otra entidad que trata los datos obtenidos a través de las cookies.
            </p>
            <p class="pt-4">
                En este caso las Cookies son utilizadas con fines estadísticos relacionados con las visitas que recibe y las páginas que se consultan, quedando aceptado su uso al navegar por ella.
            </p>

            <table class="mt-4 border w-full">
                <theader>
                    <th class="px-3 py-1.5 text-left font-medium border-r">COOKIE (Y PROVEEDOR)</th>
                    <th class="px-3 py-1.5 text-left font-medium border-r">DURACIÓN</th>
                    <th class="px-3 py-1.5 text-left font-medium">DESCRIPCIÓN</th>
                </theader>
                <tbody>
                    <tr class="border-t">
                        <td class="px-3 py-1.5 border-r">__cfduid (notin.es)</td>
                        <td class="px-3 py-1.5 border-r">Sesión</td>
                        <td class="px-3 py-1.5">Publicidad</td>
                    </tr>
                    <tr class="border-t">
                        <td class="px-3 py-1.5 border-r">personalization_id (twitter.com)</td>
                        <td class="px-3 py-1.5 border-r">Sesión</td>
                        <td class="px-3 py-1.5">Twitter</td>
                    </tr>
                    <tr class="border-t">
                        <td class="px-3 py-1.5 border-r">Facebook</td>
                        <td class="px-3 py-1.5 border-r">Publicidad, estadísticas y mediciones</td>
                        <td class="px-3 py-1.5">Coloca Cookies en el ordenador o dispositivo y recibe la información almacenada en ellas cuando utilizas o visitas servicios prestados por otras empresas que utilizan los servicios de Facebook.</td>
                    </tr>
                    <tr class="border-t">
                        <td class="px-3 py-1.5 border-r">_ga (Google)</td>
                        <td class="px-3 py-1.5 border-r">2 años</td>
                        <td class="px-3 py-1.5">Se usa para distinguir a los usuarios.</td>
                    </tr>
                    <tr class="border-t">
                        <td class="px-3 py-1.5 border-r">_gid (Google)</td>
                        <td class="px-3 py-1.5 border-r">24 horas</td>
                        <td class="px-3 py-1.5">Se usa para distinguir a los usuarios.</td>
                    </tr>
                    <tr class="border-t">
                        <td class="px-3 py-1.5 border-r">_gat (Google)</td>
                        <td class="px-3 py-1.5 border-r">1 minuto</td>
                        <td class="px-3 py-1.5">Se usa para limitar el porcentaje de solicitudes. Si has implementado Google Analytics mediante Google Tag Manager, esta cookie se llamará _dc_gtm_.</td>
                    </tr>
                    <tr class="border-t">
                        <td class="px-3 py-1.5 border-r">_gali (Google)</td>
                        <td class="px-3 py-1.5 border-r">30s</td>
                        <td class="px-3 py-1.5">Atribución de enlace mejorada.</td>
                    </tr>
                    <tr class="border-t">
                        <td class="px-3 py-1.5 border-r">_unam (SHARETHIS)</td>
                        <td class="px-3 py-1.5 border-r">Persistente</td>
                        <td class="px-3 py-1.5">Su finalidad es cuantificar el número de Usuarios que comparten un determinado contenido y cuántas páginas web son visitadas a raíz de esa acción.</td>
                    </tr>
                    <tr class="border-t">
                        <td class="px-3 py-1.5 border-r">WordPress</td>
                        <td class="px-3 py-1.5 border-r">2 años</td>
                        <td class="px-3 py-1.5">Utilizado para el correcto funcionamiento del gestor de contenido WordPress.</td>
                    </tr>
                </tbody>
            </table>

            <p class="pt-4">
                Si desea más información más sobre los tipos de cookies de seguimiento y análisis de datos de Google <a href="https://www.google.com/intl/es_es/policies/technologies/types/" class="font-medium text-teal-500 hover:underline focus:underline focus:outline-none" target="_blank">haga clic aquí.</a>
            </p>
            <p class="pt-4">
                Para informarse sobre cómo eliminar las cookies de su explorador:
            </p>
            <ul class="pt-4 list-disc">
                <li class="py-0.5 ml-9 lg:ml-12 pl-1.5">
                    <a href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrear-preferencias" class="font-medium text-teal-500 hover:underline focus:underline focus:outline-none" target="_blank">Firefox</a>
                </li>
                <li class="py-0.5 ml-9 lg:ml-12 pl-1.5">
                    <a href="https://support.google.com/chrome/answer/95647?hl=es" class="font-medium text-teal-500 hover:underline focus:underline focus:outline-none" target="_blank">Chrome</a>
                </li>
                <li class="py-0.5 ml-9 lg:ml-12 pl-1.5">
                    <a href="https://support.microsoft.com/es-es/topic/eliminar-y-administrar-cookies-168dab11-0753-043d-7c16-ede5947fc64d" class="font-medium text-teal-500 hover:underline  focus:underline focus:outline-none" target="_blank">Internet Explorer</a>
                </li>
                <li class="py-0.5 ml-9 lg:ml-12 pl-1.5">
                    <a href="https://support.apple.com/es-es/HT201265" class="font-medium text-teal-500 hover:underline focus:underline focus:outline-none" target="_blank">Safari</a>
                </li>
                <li class="py-0.5 ml-9 lg:ml-12 pl-1.5">
                    <a href="https://www.allaboutcookies.org/es/administrar-las-cookies/opera.html" class="font-medium text-teal-500 hover:underline focus:underline focus:outline-none" target="_blank">Opera</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}