{% extends 'base-main.html.twig' %}

{% block title %}Política de privacidad{% endblock %}

{% block main %}
    <div class="max-w-[85rem] mx-auto px-4 text-sm lg:text-base">
        <div class="pt-8 pb-16 text-neutral-600">
            <h1 class="font-medium text-xl lg:text-2xl pb-4">POLITICA DE PRIVACIDAD</h1>

            <p class="pt-4">
                Última actualización: Enero 2023.
            </p>

            <h3 class="mt-8 font-medium text-base lg:text-lg">
                1. INFORMACIÓN AL USUARIO
            </h3>
            <p class="pt-4">
                <span class="font-medium">Estilismo canino Marta Vela</span>, como Responsable del Tratamiento, le informa que, según lo dispuesto en el Reglamento (UE) 2016/679, de 27 de abril, (RGPD) y en la L.O. 3/2018, de 5 de diciembre, de protección de datos y garantía de los derechos digitales (LOPDGDD), trataremos su datos tal y como reflejamos en la presente Política de Privacidad.
            </p>
            <p class="pt-4">
                En esta Política de Privacidad describimos cómo recogemos sus datos personales y por qué los recogemos, qué hacemos con ellos, con quién los compartimos, cómo los protegemos y sus opciones en cuanto al tratamiento de sus datos personales.
            </p>
            <p class="pt-4">
                Esta Política se aplica al tratamiento de sus datos personales recogidos por la empresa para la prestación de sus servicios. Si acepta las medidas de esta Política, acepta que tratemos sus datos personales como se define en la misma.
            </p>


            <h3 class="mt-8 font-medium text-base lg:text-lg">
                2. CONTACTO
            </h3>
            <ul class="pt-4">
                <li class="py-0.5">Denominación social: <span class="font-medium">Marta Vela García</span></li>
                <li class="py-0.5">Nombre comercial: <span class="font-medium">Estilismo canino Marta Vela</span></li>
                <li class="py-0.5">DNI: <span class="font-medium">2.920.0618-W</span></li>
                <li class="py-0.5">Domicilio: <span class="font-medium">C/ Sanchis Guarner, 1 local 5 - 46530 Puzol</span></li>
                <li class="py-0.5">E-mail: <span class="font-medium">estilismocaninomartavela@gmail.com</span></li>
            </ul>


            <h3 class="mt-8 font-medium text-base lg:text-lg">
                3. PRINCIPIOS CLAVE
            </h3>
            <p class="pt-4">
                Siempre hemos estado comprometidos con prestar nuestros servicios con el más alto grado de calidad, lo que incluye tratar sus datos con seguridad y transparencia. Nuestros principios son:
            </p>
            <ul class="pt-4 list-disc">
                <li class="py-0.5 ml-9 lg:ml-12 pl-1.5"><span class="font-medium">Legalidad:</span> Sólo recopilaremos sus Datos personales para fines específicos, explícitos y legítimos.</li>
                <li class="py-0.5 ml-9 lg:ml-12 pl-1.5"><span class="font-medium">Minimización de datos:</span> Limitamos la recogida de datos de carácter personal a lo que es estrictamente relevante y necesario para los fines para los que se han recopilado.</li>
                <li class="py-0.5 ml-9 lg:ml-12 pl-1.5"><span class="font-medium">Limitación de la Finalidad:</span> Sólo recogeremos sus datos personales para los fines declarados y solo según sus deseos.</li>
                <li class="py-0.5 ml-9 lg:ml-12 pl-1.5"><span class="font-medium">Precisión:</span> Mantendremos sus datos personales exactos y actualizados.</li>
                <li class="py-0.5 ml-9 lg:ml-12 pl-1.5"><span class="font-medium">Seguridad de los Datos:</span> Aplicamos las medidas técnicas y organizativas adecuadas y proporcionales a los riesgos para garantizar que sus datos no sufran daños, tales como divulgación o acceso no autorizado, la destrucción accidental o ilícita o su pérdida accidental o alteración y cualquier otra forma de tratamiento ilícito.</li>
                <li class="py-0.5 ml-9 lg:ml-12 pl-1.5"><span class="font-medium">Acceso y Rectificación:</span> Disponemos de medios para que acceda o rectifique sus datos cuando lo considere oportuno.</li>
                <li class="py-0.5 ml-9 lg:ml-12 pl-1.5"><span class="font-medium">Conservación:</span> Conservamos sus datos personales de manera legal y apropiada y solo mientras es necesario para los fines para los que se han recopilado.</li>
                <li class="py-0.5 ml-9 lg:ml-12 pl-1.5"><span class="font-medium">Las transferencias internacionales:</span> Cuando se dé el caso de que sus datos vayan a ser transferidos fuera de la UE/EEE se protegerán adecuadamente.</li>
                <li class="py-0.5 ml-9 lg:ml-12 pl-1.5"><span class="font-medium">Terceros:</span> El acceso y transferencia de datos personales a terceros se llevan a cabo de acuerdo con las leyes y reglamentos aplicables y con las garantías contractuales adecuadas.</li>
                <li class="py-0.5 ml-9 lg:ml-12 pl-1.5"><span class="font-medium">Marketing Directo y cookies:</span> Cumplimos con la legislación aplicable en materia de publicidad y cookies.</li>
            </ul>

            <h3 class="mt-8 font-medium text-base lg:text-lg">
                4. RECOGIDA Y TRATAMIENTO DE SUS DATOS PERSONALES
            </h3>
            <p class="pt-4">
                Las tipos de datos que se pueden solicitar y tratar son:
            </p>
            <ul class="pt-4 list-disc">
                <li class="py-0.5 ml-9 lg:ml-12 pl-1.5">Datos de carácter identificativo.</li>
            </ul>
            <p class="pt-4">
                También recogemos de forma automática datos sobre su visita a nuestro sitio web  según se describe en la política de cookies.
            </p>
            <p class="pt-4">
                Siempre que solicitemos sus Datos personales, le informaremos con claridad de qué datos personales recogemos y con qué fin. En general, recogemos y tratamos sus datos personales con el propósito de:
            </p>
            <ul class="pt-4 list-disc">
                <li class="py-0.5 ml-9 lg:ml-12 pl-1.5">Proporcionar información, servicios, productos, información relevante y novedades en el sector.</li>
                <li class="py-0.5 ml-9 lg:ml-12 pl-1.5">Envío de comunicaciones.</li>
            </ul>


            <h3 class="mt-8 font-medium text-base lg:text-lg">
                5. LEGITIMIDAD
            </h3>
            <p class="pt-4">
                De acuerdo con la normativa de protección de datos aplicable, sus datos personales podrán tratarse siempre que:
            </p>
            <ul class="pt-4 list-disc">
                <li class="py-0.5 ml-9 lg:ml-12 pl-1.5">Nos ha dado su consentimiento a los efectos del tratamiento. Por supuesto podrá retirar su consentimiento en cualquier momento.</li>
                <li class="py-0.5 ml-9 lg:ml-12 pl-1.5">Por requerimiento legal.</li>
                <li class="py-0.5 ml-9 lg:ml-12 pl-1.5">Por exisitr un interés legítimo que no se vea menoscabado por sus derechos de privacidad, como por ejemplo el envío de información comercial bien por suscripción a nuestra newsletter o por su condición de cliente.</li>
                <li class="py-0.5 ml-9 lg:ml-12 pl-1.5">Por se necesaria para la prestación de alguno de nuestros servicios mediante relación contractual entre usted y nosotros.</li>
            </ul>


            <h3 class="mt-8 font-medium text-base lg:text-lg">
                6. COMUNICACIÓN DE DATOS PERSONALES
            </h3>
            <p class="pt-4">
                Los datos pueden ser comunicados a empresas relacionadas con Marta Vela García para la prestación de los diversos servicios en calidad de Encargados del Tratamiento. La empresa no realizará ninguna cesión, salvo por obligación legal.
            </p>

            <h3 class="mt-8 font-medium text-base lg:text-lg">
                7. SUS DERECHOS
            </h3>
            <p class="pt-4">
                En relación con la recogida y tratamiento de sus datos personales, puede ponerse en contacto con nosotros en cualquier momento para:
            </p>
            <ul class="pt-4 list-disc">
                <li class="py-0.5 ml-9 lg:ml-12 pl-1.5">Acceder a sus datos personales y a cualquier otra información indicada en el Artículo 15.1 del RGPD.</li>
                <li class="py-0.5 ml-9 lg:ml-12 pl-1.5">Rectificar sus datos personales que sean inexactos o estén incompletos de acuerdo con el Artículo 16 del RGPD.</li>
                <li class="py-0.5 ml-9 lg:ml-12 pl-1.5">Suprimir sus datos personales de acuerdo con el Artículo 17 del RGPD.</li>
                <li class="py-0.5 ml-9 lg:ml-12 pl-1.5">Limitar el tratamiento de sus datos personales de acuerdo con el Artículo 18 del RGPD.</li>
                <li class="py-0.5 ml-9 lg:ml-12 pl-1.5">Solicitar la portabilidad de sus datos de acuerdo con el Artículo 20 del RGPD.</li>
                <li class="py-0.5 ml-9 lg:ml-12 pl-1.5">Oponerse al tratamiento de sus datos personales de acuerdo con el artículo 21 del RGPD.</li>
            </ul>
            <p class="pt-4">
                Si ha otorgado su consentimiento para alguna finalidad concreta, tiene derecho a retirar el consentimiento otorgado en cualquier momento, sin que ello afecte a la licitud del tratamiento basado en el consentimiento previo a su retirada rrhh.
            </p>
            <p class="pt-4">
                Puede ejercer estos derechos enviando comunicación, motivada y acreditada, a estilismocaninomartavela@gmail.com
            </p>
            <p class="pt-4">
                También tiene derecho a presentar una reclamación ante la Autoridad de control competente (www.aepd.es) si considera que el tratamiento no se ajusta a la normativa vigente.
            </p>


            <h3 class="mt-8 font-medium text-base lg:text-lg">
                8. INFORMACIÓN LEGAL
            </h3>
            <p class="pt-4">
                Los requisitos de esta Política complementan, y no reemplazan, cualquier otro requisito existente bajo la ley de protección de datos aplicable, que será la que prevalezca en cualquier caso.
            </p>
            <p class="pt-4">
                Esta Política está sujeta a revisiones periódicas y la empresa puede modificarla en cualquier momento. Cuando esto ocurra, le avisaremos de cualquier cambio y le pediremos que vuelva a leer la versión más reciente de nuestra Política y que confirme su aceptación.
            </p>
        </div>
    </div>
{% endblock %}