<div class="max-w-[85rem] mx-auto text-sm lg:text-base px-4">
    <div class="text-center py-8 lg:py-12">
        <h2 class="text-3xl lg:text-4xl font-bold">
            Fiesta de inauguración
        </h2>
        {{ component('titleUnderline') }}
        <p class="pt-4 text-neutral-500 text-base lg:text-lg">
            <span class="font-medium underline decoration-2 decoration-fuchsia-900/50 underline-offset-4">Viernes, 20 de enero a las 19:30h</span>
        </p>
        <p class="text-neutral-500 text-base lg:text-lg">¡Os esperamos!</p>
        <img src="{{ asset('img/opening.svg') }}" alt="opening-party" class="my-8 mx-auto w-36 md:w-48 lg:w-64">
    </div>
</div>