<div class="container mx-auto text-sm lg:text-base px-4">
    <div class="text-center py-8 lg:py-12">
        <h2 class="text-3xl lg:text-4xl font-bold">
            Promoción de apertura
        </h2>
        {{ component('titleUnderline') }}
        <img src="{{ asset('img/opening_discount.png') }}" alt="promocion-de-apertura" class="my-8 mx-auto">
        <p class="text-neutral-500 text-base lg:text-lg">¡Aprovecha la promoción de apertura hasta el 28 de febrero!, <span class="font-medium underline decoration-2 decoration-fuchsia-900/50 underline-offset-4">20% de descuento</span> en tu primera cita.</p>
    </div>
</div>