{% extends 'base-main.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block main %}
    <div class="container mx-auto">
        <a href="https://www.google.com/maps/dir/39.5790575,-0.327784/estilismo+canino+marta+vela/@39.5974826,-0.3377574,14z/data=!4m9!4m8!1m1!4e1!1m5!1m1!1s0xd60413ac04b3e5b:0x8abc3961fc44b181!2m2!1d-0.3126824!2d39.616553"
        target="_blank" class="rounded border px-3 py-1.5 flex items-center space-x-2.5 w-auto">
            <img src="https://cdn-icons-png.flaticon.com/512/355/355980.png" alt="" class="w-10 h-10">
            <span>Como llegar</span>
        </a>
    </div>
{% endblock %}
