<div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
     id="modal-home-services-scissor-cut" tabindex="-1" aria-labelledby="modal-home-services-scissor-cut-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable relative w-auto pointer-events-none">
        <div class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
            <div class="modal-header flex flex-shrink-0 items-center justify-between p-4 lg:px-6 border-b border-gray-200 rounded-t-md">
                <h5 class="text-lg lg:text-xl font-medium leading-normal" id="modal-home-services-scissor-cut-label">
                    Corte a tijera
                </h5>
                <button type="button"
                        class="btn-close box-content w-6 h-6 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
                        data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body relative p-4 lg:p-6">
                <p class="text-left">Nos especializamos en el corte de pelo con tijeras, especialmente en razas como el Bichón Maltés o Pomerania ya que el uso de máquinas puede dañar su pelaje. Además, el corte a tijera proporciona un acabado más estético y profesional.</p>
            </div>
        </div>
    </div>
</div>