<div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
     id="modal-home-services-stripping" tabindex="-1" aria-labelledby="modal-home-services-stripping-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable relative w-auto pointer-events-none">
        <div class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
            <div class="modal-header flex flex-shrink-0 items-center justify-between p-4 lg:px-6 border-b border-gray-200 rounded-t-md">
                <h5 class="text-lg lg:text-xl font-medium leading-normal" id="modal-home-services-stripping-label">
                    Stripping
                </h5>
                <button type="button"
                        class="btn-close box-content w-6 h-6 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
                        data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body relative p-4 lg:p-6">
                <p class="text-left">La técnica de stripping consiste en renovar manualmente el pelaje de tu perro, especialmente en aquellos con pelo duro como Schnauzers, Westy o Teckels, con el objetivo de estimular el crecimiento del pelo nuevo, es un proceso indoloro.</p>
                <p class="pt-4 text-left">Se realiza regularmente para mantener el pelaje de la raza en su forma correcta y para evitar la acumulación de pelo muerto. Para un idóneo mantenimiento se recomienda sesiones periódicas, entre 6 y 8 semanas.</p>
                <p class="pt-4 text-left">Con nuestra experiencia en la técnica, trabajaremos en tu perro para lograr un pelaje brillante y saludable.</p>
            </div>
        </div>
    </div>
</div>