<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <meta name="robots" content="noindex">
        <meta name="googlebot" content="noindex">

        <link rel="apple-touch-icon" sizes="180x180" href="/build/app/img/favicon_bo/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/build/app/img/favicon_bo/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/build/app/img/favicon_bo/favicon-16x16.png">
        <link rel="manifest" href="/build/app/img/favicon_bo/site.webmanifest">
        <meta name="apple-mobile-web-app-title" content="Back Office">
        <meta name="application-name" content="Back Office">
        <meta name="msapplication-TileColor" content="#9f00a7">
        <meta name="theme-color" content="#ffffff">

        <title>{% block title %}{% endblock %}Back Office</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('admin-app') }}
            <script src="https://cdn.tailwindcss.com"></script>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('admin-app') }}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.3.5/dist/alpine.min.js" defer></script>
            <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script>
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    customClass: {
                        title: 'font-medium',
                    },
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                });
            </script>
        {% endblock %}
    </head>

    <body class="antialiased bg-white font-inter">
        <header>
            {% include "layout/admin/header.html.twig" %}
        </header>

        <div class="overflow-hidden">
            <div class="max-w-[85rem] mx-auto px-4 sm:px-6 md:px-8">
                <div class="fixed hidden inset-0 left-[max(0px,calc(50%-42.5rem))] md:block overflow-y-auto pb-10 px-8 right-auto top-[3.8125rem] w-[19.5rem] border-r border-slate-200">
                    <nav class="text-sm leading-6 pt-10">
                        {% include "layout/admin/nav.html.twig" %}
                    </nav>
                </div>

                <div class="md:pl-[19.5rem] mt-16">
                    <main class="max-w-3xl mx-auto pt-6 md:pt-10 relative xl:max-w-none">
                        {% include "layout/admin/flash-messages.html.twig" %}
                        {% block main %}{% endblock %}
                    </main>
                </div>
            </div>
        </div>

        {% block js %}{% endblock %}
    </body>
</html>
