<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
{#            <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.5/dist/flowbite.min.css" />#}
            <link rel="stylesheet" href="{{ asset('css/icomoon.css') }}" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{#            <script src="https://cdn.tailwindcss.com"></script>#}
            <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
{#            <script src="https://unpkg.com/flowbite@1.5.5/dist/flowbite.js"></script>#}
        {% endblock %}
    </head>
    <body class="bg-gray-50">
        {# whatsapp float button #}
        <a class="fixed w-14 h-14 bottom-10 right-10 bg-teal-600/60 text-white rounded-full text-center text-2xl shadow-lg z-50 hover:bg-teal-600/80 transition ease-in-out duration-150"
           href="https://api.whatsapp.com/send?phone=624273038&text=Hola!,%20me%20gustar%C3%ADa%20coger%20cita%20para%20mi%20perrito" target="_blank">
            <i class="fa-brands fa-whatsapp mt-4"></i>
        </a>

        <div class="flex flex-col h-screen justify-between">
            {% include "layout/main/header.html.twig" %}
            <main class="mb-auto">
                {% block main %}{% endblock %}
            </main>
            {% include "layout/main/footer.html.twig" %}
        </div>

    </body>
</html>
