<div class="bg-neutral-50">
    <div class="container mx-auto text-sm lg:text-base px-4">
        <div class="text-center py-8 lg:py-12">
            <h2 class="text-2xl lg:text-4xl font-medium">
                ¡Próxima apertura!
            </h2>
            <p class="pt-4 text-neutral-500 text-base lg:text-lg">
                El próximo <span class="font-medium underline decoration-2 decoration-fuchsia-900/50 underline-offset-4">miércoles, 18 de enero</span> ¡abrimos oficialmente nuestras puertas!
            </p>
            <img src="{{ asset('img/opening_discount.png') }}" alt="promocion-de-apertura" class="my-8 mx-auto">
            <p class="text-neutral-500 text-base lg:text-lg">¡Aprovecha la promoción de apertura hasta el 28 de febrero!, <span class="font-medium underline decoration-2 decoration-fuchsia-900/50 underline-offset-4">20% de descuento</span> en tu primera cita.</p>
        </div>
    </div>
</div>
