<div class="bg-neutral-50">
    <div class="container mx-auto text-sm lg:text-base px-4">
        <div class="text-center py-8 lg:py-12">
            <h2 class="text-2xl lg:text-4xl font-medium">
                ¡Próxima apertura!
            </h2>
            <p class="py-4 text-neutral-500 text-base lg:text-lg">
                El próximo <span class="font-medium underline decoration-2 decoration-fuchsia-900/50 underline-offset-4">miércoles, 18 de enero</span> ¡abrimos oficialmente nuestras puertas!
            </p>
            <p class="text-neutral-500 text-base lg:text-lg">Hemos preparado una promoción de apertura para que te animes a probar nuestros servicios.</p>
            <p class="mt-4 text-neutral-500 text-base lg:text-lg">¡Un <span class="font-medium underline decoration-2 decoration-fuchsia-900/50 underline-offset-4">20% de descuento</span> en todos los servicios!, en la primera cita.</p>
            <p class="text-neutral-500 text-sm lg:text-base">El descuento será válido hasta el 28 de febrero.</p>
            <img src="{{ asset('img/opening_discount.png') }}" alt="promocion-de-apertura" class="mt-8 mx-auto">

        </div>
    </div>
</div>
