<!-- DropdownAdmin Menu -->
<div id="dropdownAdmin" class="z-50 hidden bg-white divide-y divide-slate-300 rounded-md shadow w-auto text-xs text-slate-700">
    <div class="px-4 py-2.5">
        <div class="font-medium truncate">{{ app.user.name }}</div>
    </div>
    <ul class="text-xs" aria-labelledby="dropdownAdminButton">
        <li>
            <a href="{{ path('app_logout') }}" class="block m-1.5 px-4 py-2 rounded hover:bg-slate-100 focus:bg-slate-100 focus:outline-none">Cerrar sesión</a>
        </li>
    </ul>
</div>

<!-- DropdownPinnedItems Menu -->
<div id="dropdownPinnedItems" class="hidden md:hidden z-50 bg-white rounded-md shadow w-auto text-xs text-slate-700">
    <ul class="text-xs" aria-labelledby="dropdownPinnedItemsButton">
        {% include 'layout/admin/_header_pinned_items.html.twig' with {'classes': 'block m-1.5 px-4 py-2 rounded hover:bg-slate-100 focus:bg-slate-100 focus:outline-none'} %}
    </ul>
</div>