<div class="fixed top-0 z-40 w-full backdrop-blur flex-none transition-colors duration-500 lg:z-50 border-b lg:border-slate-900/10 bg-white/95 supports-backdrop-blur:bg-white/60">
    <div class="max-w-[85rem] mx-auto px-4 py-2.5 sm:px-6 md:px-8">
        <div class="flex items-center justify-between">
            <div class="flex-none md:hidden" x-data="{ open: false }">
                <button class="group flex-none mr-2 focus:outline-none" @click="open = true" x-cloak>
                    <svg xmlns="http://www.w3.org/2000/svg" class="mt-1.5 w-6 h-6 stroke-slate-500 group-hover:stroke-slate-600 group-focus:stroke-slate-600" fill="none" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 8h16M4 16h16" />
                    </svg>
                    <span class="sr-only">Open Menu</span>
                </button>

                <div class="absolute top-0 left-0 bg-slate-50 shadow-md p-6 z-50 flex flex-col space-y-3" x-show.transition="open" @click.away="open = false" x-cloak>
                    <button class="absolute top-0 right-0 m-4 group focus:outline-none" @click="open = false">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 stroke-slate-500 group-hover:stroke-slate-600 group-focus:stroke-slate-600" fill="none" viewBox="0 0 24 24"
                             stroke="white">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                        <span class="sr-only">Close Menu</span>
                    </button>

                    <nav class="text-sm leading-6">
                        {% include "layout/admin/nav.html.twig" %}
                    </nav>
                </div>
            </div>
            <a href="{{ path('admin_dashboard') }}" class="flex-none flex items-center space-x-3">
                <img src="{{ asset('build/app/img/logo_admin.png') }}" alt="logo" class="w-10">
                <div class="pt-1 flex flex-col">
                    <span class="block text-2xl font-bold text-slate-900 tracking-tighter leading-5">Back Office</span>
                    <span class="block uppercase text-slate-600 pt-0.5 pl-[1px] text-[10px]">estilismo canino marta vela</span>
                </div>
            </a>
            <div class="flex-1 flex items-center justify-end">
                <ul class="hidden md:flex items-center space-x-8 text-sm">
                    {% include 'layout/admin/header-pinned-items.html.twig' with {'classes': 'font-semibold hover:text-sky-500 focus:text-sky-500 focus:outline-none'} %}
                </ul>
                <div class="flex items-center space-x-3 md:border-l border-slate-200 md:ml-6 pl-3">
                    <div class="dropdown relative md:hidden">
                        <button type="button" id="dropdownPinnedOptions" data-bs-toggle="dropdown" aria-expanded="false"
                                class="text-slate-500 hover:text-sky-500 focus:text-sky-500 hover:border-sky-500 focus:border-sky-500 focus:outline-none border rounded-full h-8 w-8 flex items-center justify-center">
                            <i class="fa-solid fa-thumbtack text-base"></i>
                        </button>
                        <ul aria-labelledby="dropdownPinnedOptions" class="dropdown-menu min-w-max absolute hidden bg-white text-base z-50 float-left py-2 list-none text-left rounded-lg shadow-lg mt-1 hidden m-0 bg-clip-padding border-none">
                            {% include 'layout/admin/header-pinned-items.html.twig' with {'classes': 'dropdown-item text-xs py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-gray-700 hover:bg-gray-100'} %}
                        </ul>
                    </div>

                    <div class="dropdown relative">
                        <button type="button" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false"
                                class="text-slate-500 hover:text-sky-500 focus:text-sky-500 hover:border-sky-500 focus:border-sky-500 focus:outline-none border rounded-full h-8 w-8 flex items-center justify-center">
                            <i class="fa-solid fa-user text-base"></i>
                        </button>
                        <ul aria-labelledby="dropdownUser" class="dropdown-menu min-w-max absolute hidden bg-white text-base z-50 float-left py-2 list-none text-left rounded-lg shadow-lg mt-1 hidden m-0 bg-clip-padding border-none">
                            <p class="text-gray-500 font-semibold text-xs uppercase pt-2 px-4 block w-full whitespace-nowrap bg-transparent">admin</p>
                            <h6 class="text-gray-500 font-semibold text-xs pb-2 px-4 block w-full whitespace-nowrap bg-transparent border-b border-slate-100">
                                {{ app.user.userIdentifier }}
                            </h6>
                            <li><a class="dropdown-item text-xs py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-gray-700 hover:bg-gray-100" href="{{ path('app_logout') }}">Cerrar sesión</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>