<div class="fixed top-0 bg-slate-600 z-40 w-full">
    <div class="px-4 py-3 sm:px-6 md:px-8">
        <div class="flex items-center justify-between">
            <button class="md:hidden mr-3 group flex-none focus:outline-none" data-drawer-target="drawer-backdrop" data-drawer-show="drawer-backdrop" data-drawer-backdrop="true" aria-controls="drawer-backdrop">
                <svg xmlns="http://www.w3.org/2000/svg" class="mt-1.5 w-6 h-6 stroke-slate-300 group-hover:stroke-white group-focus:stroke-slate-600" fill="none" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 8h16M4 16h16" />
                </svg>
                <span class="sr-only">Open Menu</span>
            </button>

            <a href="{{ path('admin_dashboard') }}" class="group flex-none flex items-center space-x-3 focus:outline-none">
                <img src="{{ asset('build/app/img/logo_admin.png') }}" alt="logo" class="w-10 group-hover:scale-105 group-focus:scale-105 transition duration-150 ease-in-out">
                <div class="pt-1 flex flex-col">
                    <span class="block text-2xl font-bold text-slate-200 group-hover:text-white group-focus:text-white tracking-tighter leading-5">Back Office</span>
                    <span class="block uppercase text-slate-200 pt-0.5 pl-[1px] text-[10px]">estilismo canino marta vela</span>
                </div>
            </a>

            <div class="flex-1 ml-3 flex items-center justify-end">
                <ul class="hidden md:flex items-center space-x-4 text-xs">
                    {% include 'layout/admin/_header_pinned_items.html.twig' with {'classes': 'uppercase font-semibold text-slate-300 hover:text-white focus:text-white focus:outline-none'} %}
                </ul>
                <div class="flex items-center space-x-3 md:border-l border-slate-500 md:ml-6 pl-3">
                    <button type="button" id="dropdownPinnedItemsButton" data-dropdown-toggle="dropdownPinnedItems" data-dropdown-offset-distance="8"
                            class="md:hidden text-slate-300 hover:text-slate-600 focus:text-slate-600 bg-slate-500 hover:bg-slate-300 focus:bg-slate-300 focus:outline-none rounded-full h-8 w-8 flex items-center justify-center">
                        <i class="fa-solid fa-thumbtack text-base"></i>
                    </button>
                    <button type="button" id="dropdownAdminButton" data-dropdown-toggle="dropdownAdmin" data-dropdown-offset-distance="8"
                            class="text-slate-300 hover:text-slate-600 focus:text-slate-600 bg-slate-500 hover:bg-slate-300 focus:bg-slate-300 focus:outline-none rounded-full h-8 w-8 flex items-center justify-center">
                        <i class="fa-solid fa-user text-base"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'layout/admin/_header_dropdowns.html.twig' %}

<!-- drawer component -->
<div id="drawer-backdrop" class="fixed top-0 left-0 z-40 h-screen p-8 overflow-y-auto transition-transform -translate-x-full bg-slate-50 w-[19.5rem] text-sm leading-6" tabindex="-1" aria-labelledby="drawer-backdrop-label">
    <button type="button" data-drawer-hide="drawer-backdrop" aria-controls="drawer-disabled-backdrop" class="text-slate-400 bg-transparent hover:bg-slate-200 hover:text-slate-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center" >
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        <span class="sr-only">Close menu</span>
    </button>
    {% include "layout/admin/nav.html.twig" %}
</div>