<a{% for attr, value  in options %} {{ attr }}="{{ value }}"{% endfor %} class="">
    <span class="uppercase text-xs">{{ title }}</span>
    <span class="pl-3">
        {% if sorted %}
            {% if direction == 'desc' %}
                <i class="fa fa-sort-down text-slate-600"></i>
            {% else %}
                <i class="fa fa-sort-up text-slate-600"></i>
            {% endif %}
        {% else %}
            <i class="fa fa-sort text-slate-300"></i>
        {% endif %}
    </span>
</a>