<a class="group focus:outline-none" {% for attr, value  in options %} {{ attr }}="{{ value }}"{% endfor %}>
    <span class="uppercase text-xs">{{ title }}</span>
    <span class="pl-1.5">
        {% if sorted %}
            {% if direction == 'desc' %}
                <i class="fa fa-sort-down text-blue-500 group-hover:text-blue-600 group-focus:text-blue-600"></i>
            {% else %}
                <i class="fa fa-sort-up text-blue-500 group-hover:text-blue-600 group-focus:text-blue-600"></i>
            {% endif %}
        {% else %}
            <i class="fa fa-sort text-slate-300 group-hover:text-blue-600 group-focus:text-blue-600"></i>
        {% endif %}
    </span>
</a>