<li class="flex items-center justify-between">
    <a class="border-l px-4 py-1 focus:outline-none {% if app.request.get('_route') == path or path in app.request.get('_route') %}border-blue-500 focus:border-blue-600 text-blue-500 font-medium hover:text-blue-600 focus:text-blue-600{% if app.request.get('_route') == path %}hover:text-blue-600 focus:text-blue-600 pointer-events-none{% endif %}{% elseif disable %}pointer-events-none text-slate-200 text-slate-400 %}{% else %}border-slate-200 text-slate-600 hover:text-blue-500 focus:text-blue-500 hover:border-slate-500 focus:border-slate-500{% endif %}"
       href="{{ path(path) }}">
        {% if path in app.request.get('_route') and path != app.request.get('_route')%}
        <span class="mr-1.5"><i class="fa-solid fa-left-long"></i></span>
        {% endif %}
        {{ message|trans }}
    </a>
    {% if tag %}
        <span class="px-2 text-[9px] uppercase leading-4 rounded-lg {{ tagBgColor }} text-slate-600 border">{{ tag }}</span>
    {% endif %}
</li>
