<a class="font-medium text-sm leading-5 rounded-full text-grey-500 px-2 py-0.5 {% if app.request.get('_route') == path %}text-neutral-300 pointer-events-none{% endif %}" href="{{ path(path) }}">
    {{ message|trans }}
</a>