<div class="mx-auto mt-4 flex justify-center">
    <span class="inline-block h-1 w-40 rounded-full bg-{{ this.color }}"></span>
    <span class="mx-1 inline-block h-1 w-3 rounded-full bg-{{ this.color }}"></span>
    <span class="inline-block h-1 w-1 rounded-full bg-{{ this.color }}"></span>
</div>