<div class="flex items-center space-x-1.5 mb-8">
    <a href="{{ path_index }}"
       class="px-6 py-2.5 bg-blue-500 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-600 hover:shadow-lg focus:bg-blue-600 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-700 active:shadow-lg transition duration-150 ease-in-out">
        <i class="fa-solid fa-left-long mr-1.5"></i>atrás
    </a>
    <a href="#"
       class="px-6 py-2.5 bg-blue-300 text-white font-medium text-xs leading-tight uppercase rounded shadow-md transition duration-150 ease-in-out focus:outline-none pointer-events-none">
        <i class="fa-solid fa-print mr-1.5"></i>imprimir
    </a>
    <a href="#"
       class="px-6 py-2.5 bg-blue-300 text-white font-medium text-xs leading-tight uppercase rounded shadow-md transition duration-150 ease-in-out focus:outline-none pointer-events-none">
        <i class="fa-solid fa-file-pdf mr-1.5"></i>pdf
    </a>
</div>
