<div class="mt-9 lg:mt-6 relative border rounded">
    <h4 class="uppercase text-[12px] tracking-widest text-slate-500 font-medium absolute top-0 left-0 ml-4 -mt-3 bg-white px-2 py-0.5 border rounded">pagos</h4>
    <h4 id="spinner-sale-payments" class="hidden uppercase text-sm tracking-widest text-slate-800 font-medium absolute top-0 right-0 mr-4 -mt-3 bg-white">
        <i class="animate-pulse fa-solid fa-floppy-disk bg-slate-100 rounded-full p-1 w-7 h-7 flex items-center justify-center shadow"></i>
    </h4>

    <div class="flex flex-col space-y-2.5 mt-4 p-4">
        <span class="text-sm">work in progress...</span>
    </div>
</div>