{% extends 'base-admin.html.twig' %}

{% block title %}TPV: editar | {% endblock %}

{% block main %}
{% set sale = view.sale %}
<header id="header" class="mb-6 md:mb-10 md:flex md:items-start">
    <div class="flex-auto max-w-4xl">
        <h1 class="text-3xl md:text-4xl font-extrabold text-slate-900 tracking-tight">TPV #{{ sale.id }} - Editar</h1>
    </div>
</header>

<div class="rounded my-8">
    <div class="flex flex-col space-y-3">
        {% include 'admin/sale/_actions.html.twig' %}
        <div id="sale-header" data-sale-id="{{ sale.id }}">
            {% include 'admin/sale/_sale.html.twig' %}
        </div>
        <div id="sale-detail">
            {% include 'admin/sale/_sale-detail.html.twig' %}
        </div>
        <div class="flex flex-col-reverse lg:flex-row lg:space-x-6">
            <div id="sale-payments" class="flex-1">
                {% include 'admin/sale/_payments.html.twig' %}
            </div>
            <div id="summary" class="flex-1">
                {% include 'admin/sale/_summary.html.twig' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script src="{{ asset('build/app/js/admin/sale/edit-sale.js') }}"></script>
{% endblock %}