<div class="border border-slate-300 rounded-t-md {% if customers.pageCount == 1 %}rounded-b-md{% endif%} overflow-x-auto">
    {% if customers is empty %}
        <div class="py-6 px-3 flex flex-col items-center space-y-1.5 bg-slate-50">
            <span class="text-2xl animate__animated animate__tada animate__infinite">😖</span>
            <span>No se han encontrado clientes</span>
        </div>
    {% else %}
        <table class="min-w-full text-sm">
            {% include 'admin/customer/datatable/_table_header.html.twig' %}
            {% include 'admin/customer/datatable/_table_body.html.twig' %}
        </table>
    {% endif %}
</div>
{% include 'admin/customer/datatable/_paginator.html.twig' %}