{% extends 'base_admin.html.twig' %}

{% block title %}Clientes | {% endblock %}

{% block main %}
    {{ component(
        'crudHeaderComponent',
        {
            section: 'Mantenimiento',
            title: 'Clientes',
            description: 'Mantenimiento de fichas de clientes.'
        }
    ) }}
    {% include 'admin/customer/_filters.html.twig' %}

    <div class="my-6">
        {% include 'admin/customer/_datatable.html.twig' %}
    </div>

    {% include 'modal/admin/ajax-modal.html.twig' %}
    {% include 'modal/admin/ajax-static-modal.html.twig' %}
{% endblock %}

{% block js %}
    <script src="{{ asset('build/app/js/admin/customer/crud-customer.js') }}"></script>
    <script src="{{ asset('build/app/js/admin/ajax-modal.js') }}"></script>
{% endblock %}